# Sensitive Files
*.log
*.sql
*password*
*secret*
*.key
*.pem

# Backups
*.tar.gz
*.zip
backup/

# Docker
docker-compose.yml
.env

# Python
__pycache__/
*.py[cod]
*.venv

# OS Files
.DS_Store
Thumbs.db

# Editor Files
.vscode/
.idea/
*.swp
